{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}

{% block meta %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/plugins/raty/jquery.raty.css') }}">
{% endblock %}
{% set currentCompany = entity %}
{% block body %}
    <div class="row company_page">
        <div class="span8">
            {% include("AcmeMainBundle::Company/blocks/header.html.twig") %}
            <div class="row">
                <div class="span8 blog">
                    <ul class="nav nav-tabs" style="margin-bottom: 0px; border-bottom: 0px;">
                        <li><a href="{{ path('client_company_show', {
                            "city_url": entity.city.url,
                            "company_url": entity.url
                            }) }}" >Главная</a></li>
                        <li class="active">
                            <a >Отзывы {{ entity.comments|length }}</a>
                        </li>
                    </ul>
                    <!-- Post Comments
                    ================================================== -->
                    <section class="comments">
                        <ul>
                            {% for comment in entity.comments %}
                            <li>
                                <img src="{{ comment.user.socialPicture }}" alt="{{ comment.user.getFullName() }} аватарка" width="25" height="25">
                                <span class="comment-name">{{ comment.user.getFullName() }}</span>
                                <span class="comment-date">оставил отзыв в {{ comment.createdAt | date('H:i, d.m.Y') }}</span>
                                <br/>
                                <span class="comment-date">Моя оценка: <span class="rat" data-score="{{ comment.rating }}"></span></span>
                                <div class="comment-content">{{ comment.text | raw }}</div>
                                {#<!-- Reply -->#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<img src="img/user-avatar.jpg" alt="Image">#}
                                        {#<span class="comment-name">Jason Doe</span>#}
                                        {#<span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>#}
                                        {#<div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<img src="img/user-avatar.jpg" alt="Image">#}
                                        {#<span class="comment-name">Jason Doe</span>#}
                                        {#<span class="comment-date">March 15, 2015 | <a href="#">Reply</a></span>#}
                                        {#<div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>#}
                                    {#</li>#}
                                {#</ul>#}
                            </li>
                            {% endfor %}

                        </ul>
                        <div class="comment-form-container">
                            <div class="h6" style="text-transform: none; font-size: 18px;">Добавить новый отзыв</div>
                            <form action="{{ path('client_company_save_comment', {
                            "city_url": entity.city.url,
                            "company_url": entity.url
                            }) }}" id="comment-form">
                                {#<div class="input-prepend">#}
                                    {#<span class="add-on"><i class="icon-user"></i></span>#}
                                    {#<input class="span4" id="prependedName" size="16" type="text" placeholder="Имя">#}
                                {#</div>#}
                                {#<div class="input-prepend">#}
                                    {#<span class="add-on"><i class="icon-envelope"></i></span>#}
                                    {#<input class="span4" id="prependedEmail" size="16" type="email" placeholder="Email">#}
                                {#</div>#}
                                <textarea class="span6" id="commentText" placeholder="Чем вам понравилась или не понравилась компания? Посоветовали бы вы эту страховую друзьям?"></textarea>
                                <div class="">
                                    <strong>Моя оценка компании:</strong>
                                    <div id="ratyId"></div>
                                </div>
                                <div class="row">
                                    <div class="span2">
                                        <input type="submit" class="btn btn-warning" value="Добавить">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': entity
        })) }}
    </div>
    {% if app.user is null %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Подтвердите Ваш отзыв</h4>
                    </div>
                    <div class="modal-body">
                        <p>Выберите, пожалуйста, одну из социальных сетей для мгновенной публикации отзыва на сайте DveStrahovki</p>
                    </div>
                    <div class="modal-footer">
                        <button onclick="hello('facebook').login()">facebook</button>
                        <button onclick="hello('vk').login()">vk</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/acmemain/plugins/raty/jquery.raty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmemain/js/hello.min.js') }}"></script>
    <script>
        var AUTH = {% if app.user %}true{% else %}false{% endif %},
            CLICK = false;
        $('div#ratyId').raty({
            path: '{{ asset('bundles/acmemain/plugins/raty/images') }}',
            number: 3,
            hints: ['Плохо', 'Так себе', 'Рекомендую'],
            score: 1
        });
        $('.rat').raty({
            score: function() {
                return $(this).attr('data-score');
            },
            path: '{{ asset('bundles/acmemain/plugins/raty/images') }}',
            number: 3,
            hints: ['Плохо', 'Так себе', 'Рекомендую'],
            readOnly: true
        });

        var comment = {
            init: function()
            {
                $('#comment-form').submit(function(e){
                    e.preventDefault();

                    CLICK = true;

                    var args =
                    {
                        text: $(this).find('#commentText').val().trim(),
                        score: $(this).find('input[name=score]').val().trim()
                    };

                    if (args.text.length < 50) {
                        return false;
                    }

                    if (AUTH == false) {
                        $('#myModal').modal();

                        return false;
                    }

                    $.post($(this).attr('action'), args, function(data){
                        console.log(data);
                        if (data.success) {
                            window.location.reload();
                        }
                    })
                });
            }
        };
        $(function(){
            comment.init();
        });

        {% if app.user is null %}
        hello.init({
            facebook: 1644608655820943,
            vk: 5065377
        },
        {
            scope: 'email'//,
            {#redirect_uri: '{{ url('_secured_social_redirect') }}'#}
        }
        );

        hello.on('auth.login', function(auth) {
            hello(auth.network).api('/me', 'get', {fields:'email,name,id,picture'}).then(function(r) {
                console.log(r);
                var args = {};
                switch (auth.network) {
                    case 'vk':
                        args.uId = r.uid;
                        args.lastName = r.last_name;
                        args.firstName = r.first_name;
                        args.image = r.picture;
                        args.type = 'vk';
                        args.email = r.email;
                        break;
                    case 'facebook':
                        args.uId = r.id;
                        args.fullName = r.name;
                        args.image = r.picture;
                        args.type = 'fb';
                        args.email = r.email;
                        break;
                }
                if (!CLICK) {
                    return;
                }

                $.post( "{{ path('_secured_social_registration') }}", args,
                        function( data ) {
                        if (data.success){
                            AUTH = true;
                            $('#comment-form').submit();
                        }
                        $('#myModal').modal('hide');
                });
            });
        });
        {% endif %}
    </script>
{% endblock %}