{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}

{% block meta %}
    {#<meta property="og:title" content="{{ entity.title }}"/>#}
    {#<meta property="og:type" content="website"/>#}
    {#<meta property="og:url" content="{{ app.request.uri }}"/>#}
    {#<meta property="og:site_name" content="DveStrahovki.ru"/>#}
    {#<meta property="og:description" content="{{ entity.description }}"/>#}
    {#<meta property="og:image:secure_url" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}" />#}
    {#<meta property="og:image" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}"/>#}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% set currentCompany = entity %}
{% block body %}
    <div class="row company_page">
        <div class="span8">
            {% include("AcmeMainBundle::Company/blocks/header.html.twig") %}
            <div class="row">
                <div class="span8">
                    <ul class="nav nav-tabs" style="margin-bottom: 0px; border-bottom: 0px;">
                        <li class="active"><a  >Главная</a></li>
                        <li>
                            <a href="{{ path('client_company_show_comments', {
                            "country_url": entity.city.country.url,
                            "city_url": entity.city.url,
                            "company_url": entity.url
                            }) }}">Отзывы {{ entity.comments|length }}</a>
                        </li>
                    </ul>
                    <section class="post-content">
                        <div class="post-body about-author ">
                            <h3>Услуги компании <b>{{ entity.name }}</b>:</h3>
                            <div class="row">
                                {% set hlf = (entity.servicesArray|length)/2  %}
                                <div class="span4">
                                    <ul>
                                        {% for service in entity.servicesArray %}
                                            {% if ( hlf >= 1 and loop.index0 < hlf) or hlf < 1 %}
                                                <li><i class="icon-ok"></i> {{ service.name }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="span4">
                                    {% if hlf >= 1 %}
                                        <ul>
                                            {% for service in entity.servicesArray %}
                                                {% if loop.index0 > hlf %}
                                                    <li><i class="icon-ok"></i> {{ service.name }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="span8">

                    <h3>О компании <b>{{ entity.name }}</b>:</h3>
                    {#<section class="post-content">#}
                        <div class="post-body about-author">
                            <!--start_content-->
                            {{ entity.text|raw }}
                            <!--end_content-->
                        </div>
                    {#</section>#}
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    <h3>Контактные данные:</h3>
                    <div style="padding-left: 15px;">
                        {{ entity.contacts|raw }}
                    </div>
                </div>
                <div class="span2">
                    <div class="lower_h6"><b>Перейти на сайт:</b></div>
                    <a href="http://{{ entity.site }}" rel="nofollow" target="_blank" class="btn btn-primary">{{ entity.site }}</a>
                </div>
            </div>
        </div>
        <!-- Blog Sidebar
        ================================================== -->
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': entity
        })) }}
        <!-- End sidebar column -->
    </div>
{% endblock %}