{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}

{% block meta %}
    {#<meta property="og:title" content="{{ entity.title }}"/>#}
    {#<meta property="og:type" content="website"/>#}
    {#<meta property="og:url" content="{{ app.request.uri }}"/>#}
    {#<meta property="og:site_name" content="DveStrahovki.ru"/>#}
    {#<meta property="og:description" content="{{ entity.description }}"/>#}
    {#<meta property="og:image:secure_url" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}" />#}
    {#<meta property="og:image" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}"/>#}
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% set currentCompany = entity %}
{% block body %}
    <div class="row">
        <div class="span8">
            <div class="row">
                <div class="span4">
                    <div class="clearfix">
                        <img src="{{ entity.getWebPath() | apply_filter('in_company') }}" width="170" class="thumbnail align-left" alt="{{ entity.getImageAltView() }}">
                    </div>
                    {#<div class="clearfix">#}
                        {#<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
                        {#<!-- strah_company_page1 -->#}
                        {#<ins class="adsbygoogle"#}
                             {#style="display:inline-block;width:336px;height:280px"#}
                             {#data-ad-client="ca-pub-3861532892125732"#}
                             {#data-ad-slot="1561466494"></ins>#}
                        {#<script>#}
                            {#(adsbygoogle = window.adsbygoogle || []).push({});#}
                        {#</script>#}
                    {#</div>#}
                    <div class="project-info">
                        <div class="h6">Виды услуг:</div>
                        {{ entity.services|raw }}
                    </div>
                </div>
                <div class="span4">
                    <h1>{{ entity.name }}</h1>
                    {#<a href="http://{{ entity.site }}" rel="nofollow" target="_blank">{{ entity.site }}</a>#}
                    <div class="h6">Контактные данные:</div>
                    <div style="padding-left: 15px;">
                        {{ entity.contacts|raw }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <!--start_content-->
                    {{ entity.text|raw }}
                    <!--end_content-->
                </div>
            </div>
        </div>
        <!-- Blog Sidebar
        ================================================== -->
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': entity
        })) }}
        <!-- End sidebar column -->
    </div>
{% endblock %}