{% extends '::base_new.html.twig' %}

{% block title %}{{ entity.name }} {{ entity.city.name }} — страховая компания. Рейтинг страховой {{ entity.name }} в {{ entity.city.name }} на DveStrahovki.ru{% endblock %}
{% block description %}Отзывы о страховой компании {{ entity.name }} {{ entity.city.name }}. Отзывы пользователей о страховой компании {{ entity.name }} в {{ entity.city.name }}.{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/acmemain/plugins/raty/jquery.raty.css') }}">
{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid head-page head-page-company">
        <div class="container">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('page_home', {city_url: currentCity().url}) }}" ><span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('page_catalog', {city_url: currentCity().url}) }}"> <span itemprop="name">Страховые компании в {{ currentCity().dative }}</span></a>
                    <meta itemprop="position" content="2" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('client_company_show', {
                        "city_url": entity.city.url,
                        "company_url": entity.url
                    }) }}"><span itemprop="name">{{ entity.name }}</span></a>
                    <meta itemprop="position" content="3" />
                </li>
                <li>
                    Отзывы о компании {{ entity.name }}
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-2">
                    <a href="#">
                        <img class="img-fluid img-rounded" src="{{ entity.getWebPath() | apply_filter('in_company') }}" alt="{{ entity.getImageAltView() }}"/>
                    </a>
                </div>
                <div class="col-lg-10">
                    <h1>Отзывы о {{ entity.name }}</h1>
                    <div class="info-box">
                        <span class="c-star m-r-md">
                            <span class="info-box-text">Рейтинг {% if entity.rating == 0 %}0.00{% else %}{{ entity.rating/100 }}{% endif %}</span>
                        </span>
                        <span class="c-review">
                            <span class="info-box-text">Отзывы: {{ entity.comments|length }}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class="row">
        <section class="col-lg-9">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item m-l-0">
                    <a href="{{ path('client_company_show', {
                        "city_url": entity.city.url,
                        "company_url": entity.url
                    }) }}" class="nav-link ">Главная</a>
                </li>
                <li class="nav-item m-l-0">
                    <span class="nav-link active">Отзывы</span>
                </li>
            </ul>
            <div class="tab-content">
                <div class="company-reviews">
                    <div class="review-list">
                        <!--
                        <article itemscope="itemscope" itemtype="http://schema.org/UserComments" class="one-review clearfix border-bottom">
                            <div class="img-box img-circle">
                                <a href="#"><img src="img/im1.jpg" alt="avatar"></a>
                            </div>
                            <div class="body-review">
                                <header>
                                    <a href="#" ><span itemprop="creator">Виталина Гречко</span></a> оставила
                                    <a href="#" class="dark">отзыв</a> о
                                    <a href="#" class="red">АИГ</a> в <span itemprop="commentTime" content="2015-10-16T21:53:00"></span>21:53, 16 октября 2015
                                </header>
                                <p itemprop="commentText" class="m-b-xs">Добрый день! Подскажите, пожалуйста, если у меня посменный график (2/2), смогу ли я непропускаючы занятия заниматься в стандартной группе?</p>
                                <div class="my-mark m-r-xs">
                                    <span>Моя оценка компании</span>
                                    <div class="my-mark-stars">
                                        <span class="ico active"></span>
                                        <span class="ico active"></span>
                                        <span class="ico passive"></span>
                                    </div>
                                </div>
                                <span>
                                    <a href="#">Ответить</a>
                                </span>
                            </div>
                        </article>
                        -->
                        {% for comment in entity.comments %}
                            {% set companyUrl = path('client_company_show', {
                                "city_url": comment.company.city.url,
                                "company_url": comment.company.url
                            }) %}
                            {% set companyCommentsUrl = path('client_company_show_comments', {
                                "city_url": comment.company.city.url,
                                "company_url": comment.company.url
                            }) %}
                            <article itemscope itemtype="http://schema.org/Review" class="one-review clearfix border-bottom">
                                <div class="img-box img-circle">
                                    <a href="{{ companyCommentsUrl }}"><img src="{{ comment.user.socialPicture }}" alt="{{ comment.user.getFullName() }} аватарка" width="56" height="56" /></a>
                                </div>
                                <div class="body-review">
                                    <header>
                                        <a href="{{ path('user_show', {id: comment.user.id}) }}" ><span itemprop="author">{{ comment.user.getFullName() }}</span></a> оставил(а)
                                        <a href="{{ companyCommentsUrl }}#comment{{ comment.id }}" class="dark">отзыв</a> о
                                        <a href="{{ companyUrl }}" class="red"><span itemprop="itemReviewed">{{ comment.company.name }}</span></a> в <span itemprop="datePublished" content="{{ comment.createdAt | date('c') }}"></span>{{ comment.createdAt | date('H:i, d.m.Y') }}
                                    </header>
                                    <p itemprop="reviewBody" class="m-b-xs">{{ comment.text | raw }}</p>
                                    <div class="my-mark m-r-xs">
                                        <span>Моя оценка компании</span>
                                        <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="my-mark-stars">
                                            <meta itemprop="worstRating" content = "1"/>
                                            <meta itemprop="ratingValue" content = "2"/>
                                            <meta itemprop="bestRating" content = "3"/>
                                            <span class="ico active"></span>
                                            <span class="ico active"></span>
                                            <span class="ico passive"></span>
                                        </div>
                                    </div>
                                    {#<span>#}
                                    {#<a href="#">Ответить</a>#}
                                    {#</span>#}
                                </div>
                            </article>
                            {#<li id="comment{{ comment.id }}">#}
                                {#<img src="{{ comment.user.socialPicture }}" alt="{{ comment.user.getFullName() }} аватарка" width="25" height="25">#}
                                {#<span class="comment-name">{{ comment.user.getFullName() }}</span>#}
                                {#<span class="comment-date">оставил отзыв в {{ comment.createdAt | date('H:i, d.m.Y') }}</span>#}
                                {#<br/>#}
                                {#<span class="comment-date">Моя оценка: <span class="rat" data-score="{{ comment.rating }}"></span></span>#}
                                {#<div class="comment-content">{{ comment.text | raw }}</div>#}
                            {#</li>#}
                        {% endfor %}

                        <p class="text-header-normal m-t-lg m-b-md">Добавить новый отзыв</p>
                            <form action="{{ path('client_company_save_comment', {
                                "city_url": entity.city.url,
                                "company_url": entity.url
                                }) }}" id="comment-form">
                                {#<div class="input-prepend">#}
                                    {#<span class="add-on"><i class="icon-user"></i></span>#}
                                    {#<input class="span4" id="prependedName" size="16" type="text" placeholder="Имя">#}
                                {#</div>#}
                                {#<div class="input-prepend">#}
                                    {#<span class="add-on"><i class="icon-envelope"></i></span>#}
                                    {#<input class="span4" id="prependedEmail" size="16" type="email" placeholder="Email">#}
                                {#</div>#}
                                <textarea class="span6" id="commentText" placeholder="Чем вам понравилась или не понравилась компания? Посоветовали бы вы эту страховую друзьям?"></textarea>
                                <div class="">
                                    <strong>Моя оценка компании:</strong>
                                    <div id="ratyId"></div>
                                </div>
                                <div class="row">
                                    <div class="span2">
                                        <input type="submit" class="btn btn-warning" value="Добавить">
                                    </div>
                                </div>
                            </form>

                        {#<form action="">#}
                            {#<div class="one-review clearfix">#}
                                {#<div class="img-box img-circle">#}
                                    {#<a href="#"><img src="img/no-img.jpg" alt="avatar"></a>#}
                                {#</div>#}
                                {#<div class="body-review">#}
                                    {#<textarea rows="5" placeholder="Що вам сподобалось і не сподобалось на курсах? Чи порадили б ви ці курси друзям?"></textarea>#}
                                    {#<p class="text-header-normal m-t-md">Моя оценка компании:</p>#}
                                    {#<div class="radio">#}
                                        {#<input id="review-rate-bad" type="radio" name="rate" value="bad" class="radio-inline m-r-xs"/><label for="review-rate-bad" class="my-mark-large"><span class="ico active m-r-xs"></span><span class="ico passive m-r-xs"></span><span class="ico passive m-r-xs"></span> <p class="text-header-normal display-inline">Плохо</p></label><br>#}
                                        {#<input id="review-rate-normal" type="radio" name="rate" value="normal" class="radio-inline m-r-xs"/><label for="review-rate-normal" class="my-mark-large"><span class="ico active m-r-xs"></span><span class="ico active m-r-xs"></span><span class="ico passive m-r-xs"></span> <p class="text-header-normal display-inline">Так себе</p></label><br>#}
                                        {#<input id="review-rate-good" type="radio" name="rate" value="good" class="radio-inline m-r-xs"/><label for="review-rate-good" class="my-mark-large"><span class="ico active m-r-xs"></span><span class="ico active m-r-xs"></span><span class="ico active m-r-xs"></span> <p class="text-header-normal display-inline">Рекомендую</p></label><br>#}
                                    {#</div>#}
                                    {#<button class="btn btn-danger m-t-sm">Добавить</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</form>#}
                    </div>
                </div>
            </div>
        </section>
        <section class="col-lg-3">
            {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
                'post': entity
            })) }}
        </section>
    </div>
    {% if app.user is null %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Подтвердите Ваш отзыв</h4>
                    </div>
                    <div class="modal-body">
                        <p>Выберите, пожалуйста, одну из социальных сетей для мгновенной публикации отзыва на сайте DveStrahovki</p>
                    </div>
                    <div class="modal-footer">
                        <button onclick="hello('facebook').login()">facebook</button>
                        <button onclick="hello('vk').login()">vk</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/acmemain/plugins/raty/jquery.raty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmemain/js/hello.min.js') }}"></script>
    <script>
        var AUTH = {% if app.user %}true{% else %}false{% endif %},
            CLICK = false;
        $('div#ratyId').raty({
            path: '{{ asset('bundles/acmemain/plugins/raty/images') }}',
            number: 3,
            hints: ['Плохо', 'Так себе', 'Рекомендую'],
            score: 1
        });
        $('.rat').raty({
            score: function() {
                return $(this).attr('data-score');
            },
            path: '{{ asset('bundles/acmemain/plugins/raty/images') }}',
            number: 3,
            hints: ['Плохо', 'Так себе', 'Рекомендую'],
            readOnly: true
        });

        var comment = {
            init: function()
            {
                $('#comment-form').submit(function(e){
                    e.preventDefault();

                    CLICK = true;

                    var args =
                    {
                        text: $(this).find('#commentText').val().trim(),
                        score: $(this).find('input[name=score]').val().trim()
                    };

                    if (args.text.length < 50) {
                        return false;
                    }

                    if (AUTH == false) {
                        $('#myModal').modal();

                        return false;
                    }

                    $.post($(this).attr('action'), args, function(data){
                        console.log(data);
                        if (data.success) {
                            window.location.reload();
                        }
                    })
                });
            }
        };
        $(function(){
            comment.init();
        });

        {% if app.user is null %}
        hello.init({
            facebook: 1644608655820943,
            vk: 5065377
        },
        {
            scope: 'email'//,
            {#redirect_uri: '{{ url('_secured_social_redirect') }}'#}
        }
        );

        hello.on('auth.login', function(auth) {
            hello(auth.network).api('/me', 'get', {fields:'email,name,id,picture'}).then(function(r) {
                console.log(r);
                var args = {};
                switch (auth.network) {
                    case 'vk':
                        args.uId = r.uid;
                        args.lastName = r.last_name;
                        args.firstName = r.first_name;
                        args.image = r.picture;
                        args.type = 'vk';
                        args.email = r.email;
                        break;
                    case 'facebook':
                        args.uId = r.id;
                        args.fullName = r.name;
                        args.image = r.picture;
                        args.type = 'fb';
                        args.email = r.email;
                        break;
                }
                if (!CLICK) {
                    return;
                }

                $.post( "{{ path('_secured_social_registration') }}", args,
                        function( data ) {
                        if (data.success){
                            AUTH = true;
                            $('#comment-form').submit();
                        }
                        $('#myModal').modal('hide');
                });
            });
        });
        {% endif %}
    </script>
{% endblock %}