{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}

{% block meta %}
{% endblock %}
{% block javascripts %}
    <script>
        $('div#category_description > ul').addClass('list mark-circle');
        $('div#category_description > ol').addClass('list mark-circle-numbers');
        setTimeout(function(){
            var $container = $('#masonry_wrap').masonry({
                itemSelector: '.item',
                columnWidth: 300,
                gutter: 30
            });
            $container.masonry();
        }, 200);
    </script>
{% endblock %}

{% block body %}
    <div class="main-container">
        <div id="masonry_wrap">
            {% for item in entities %}
                <div class="item{% if item.getImageThumbnail().par.w == 630 %} w2{% endif %}">
                    <div class="wrap">
                        <div class="photo">
                            <a href="{{ path('client_post_show',{'category_url':item.category.url, 'post_url':item.url }) }}"><div class="photo-shadow"></div>
                                <img src="{{ item.getWebPath() | apply_filter(item.getImageThumbnail().key) }}" width="{{ item.getImageThumbnail().par.w }}" height="{{ item.getImageThumbnail().par.h }}"/>
                            </a>
                        </div>
                        <div class="name-news"><a href="{{ path('client_post_show',{'category_url':item.category.url, 'post_url':item.url }) }}"><span class="i-catalog">{{ item.category.name }}.</span> {{ item.name }}</a></div>
                        <div class="date-news">{{ item.getCreatedAtByFormat('d F / Y') }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {#<div class="load-more"><a href="#" class="load-news">Показать еще</a></div>#}
        <br/>
        <br/>
        <div id="category_description">
            {{ entity.text|raw }}
        </div>
    </div>
{% endblock %}