{% extends '::base_new.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ entity.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:site_name" content="DveStrahovki.ru"/>
    <meta property="og:description" content="{{ entity.description }}"/>
    <meta property="og:image:secure_url" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}" />
    <meta property="og:image" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}"/>
{% endblock %}
{% block javascripts %}
    <script type= "text/javascript">
        function getYouTubeInfo(ele) {
            $.ajax({
                url: "http://gdata.youtube.com/feeds/api/videos/"+ele.data('v')+"?v=2&alt=json",
                dataType: "jsonp",
                success: function (data) {
                    parseresults(data, ele);
                }
            });
        }

        function parseresults(data, ele) {
            var title = data.entry.title.$t;
            ele.find('div').html(title);
        }

        function showFrameVideo(ele) {
            var fHtml = '<iframe title="'+ele.find('div').html()+'" width="520" height="390" ' +
                    'src="http://www.youtube.com/embed/'+ele.data('v')+'?fs=1&autoplay=0&loop=0" allowfullscreen></iframe>';
            $('#frameVideo').html(fHtml);
        }

        $(document).ready(function () {
            $('#yVideos li').each(function(){
                getYouTubeInfo($(this));
            });
            $('#yVideos li').click(function(){
                showFrameVideo($(this));
            });
            $('#yVideos li').mouseover(function(){
                $(this).find('div').show();
            });
            $('#yVideos li').mouseout(function(){
                $(this).find('div').hide();
            });
        });
    </script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5475a2f20b90b0ff" async="async"></script>
{% endblock %}
{% set mainCategory = entity.category.url %}

{% block breadcrumbs %}
    <div class="container-fluid head-page">
        <div class="container">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('page_home', {city_url: currentCity().url}) }}" ><span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('client_category_show', {category_url: entity.category.url }) }}"> <span itemprop="name">{{ entity.category.name }}</span></a>
                    <meta itemprop="position" content="2" />
                </li>
                <li>
                    {{ entity.name }}
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="m-t-0 m-b-md">{{ entity.name }}</h1>
                    <p class="head-page-section m-b-0"><span class="text-uppercase">публикации сайта</span> | <span>{{ entity.createdAt | date('d.m.Y') }}</span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class="row">
        <section class="col-lg-8">
            <article class="post-article">
                <div class="post-article-head-img">
                    <img src="{{ entity.getWebPath() | apply_filter('in_post') }}" alt="{{ entity.imageAlt }}"/>
                </div>
                <div style="width: 100%; height: auto;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Strah post 1.1 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:300px"
                         data-ad-client="ca-pub-3861532892125732"
                         data-ad-slot="8163153699"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <!--start_content-->
                {{ entity.text|raw }}
                <!--end_content-->
                {% if links | length > 0 %}
                    <span>Похожие публикации:</span>
                    <ul>
                        {% for link in links %}
                            <li>
                                <a href="{{ link.link }}" title="{{ link.key }}">{{ link.key }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div style="width: 100%; height: auto;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Strah post 1.2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:580px;height:400px"
                         data-ad-client="ca-pub-3861532892125732"
                         data-ad-slot="9639886896"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </article>
        </section>
        <section class="col-lg-3 col-lg-offset-1">
            {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
                'post': entity
            })) }}
        </section>
        <section class="col-lg-9 last-article">
            <hr/>
            <h2 class="text-left m-t-md">Рекомендованные публикации</h2>
            <div class="row list-card-company">
                {% for post in entities %}
                    <div class="col-lg-4">
                        <div class="article-card">
                            <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                                <img src="{{ post.getWebPath() | apply_filter('thumbnail_same_post') }}" alt="{{ post.imageAlt }}">
                            </a>
                            <div class="razdel-name">
                                <a href="{{ path('client_category_show', {category_url: post.category.url }) }}">{{ post.category.name }}</a>
                            </div>
                        <span class="text-normal">
                            <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a>
                        </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'dvestrahovki'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            </div>
        </section>
    </div>
            {#{% if entity.getArrayVideoId()|length > 0 %}#}
                {#<div class="clearfix">#}
                    {#<div class="row" style="padding: 4px; border: 1px solid #ddd;">#}
                        {#<div class="span{% if entity.getArrayVideoId()|length > 1 %}6{% else %}8 one_video{% endif %}" id="frameVideo" style="margin-left: 0px;">#}
                            {#<iframe width="520" height="390" src="http://www.youtube.com/embed/{{ entity.getArrayVideoId()[0] }}?fs=1&autoplay=0&loop=0" allowfullscreen></iframe>#}
                        {#</div>#}
                        {#{% if entity.getArrayVideoId()|length > 1 %}#}
                        {#<div class="span2">#}
                            {#<!--noindex-->#}
                            {#<span class="sub_title_links">Еще видео:</span>#}
                            {#<!--/noindex-->#}
                            {#<ul id="yVideos">#}
                                {#{% for v in entity.getArrayVideoId() %}#}
                                    {#<li id="v_{{ v }}" data-v="{{ v }}">#}
                                        {#<img src="http://img.youtube.com/vi/{{ v }}/mqdefault.jpg" width="150"/>#}
                                        {#<div>{{ v }}</div>#}
                                    {#</li>#}
                                {#{% endfor %}#}
                            {#</ul>#}
                        {#</div>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#</div>#}
            {#{% endif %}#}
{% endblock %}