{% extends '::base_new.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}
{% block keywords %}{{ entity.keywords }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ entity.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:site_name" content="DveStrahovki.ru"/>
    <meta property="og:description" content="{{ entity.description }}"/>
    <meta property="og:image:secure_url" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}" />
    <meta property="og:image" content="{{ app.request.uri }}{{ entity.getWebPath() | apply_filter('big_post') }}"/>
{% endblock %}
{% block javascripts %}
    <script type= "text/javascript">
        $(document).ready(function () {
            $('#contentsGoTo li').click(function(){
                var t = $(this).text().trim();
                var hedLine = false;

                $('#post_content h2, #post_content h3').each(function(index, item){
                    if ( $(item).html().trim() == t) {
                        hedLine = $(item);

                        return false;
                    }
                });

                if (hedLine) {
                    $('html, body').animate({
                        scrollTop: hedLine.offset().top + 'px'
                    }, '500');
                }
            });
        });
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5475a2f20b90b0ff" async="async"></script>
{% endblock %}
{% set mainCategory = entity.category.url %}

{% block breadcrumbs %}
    <div class="container-fluid head-page">
        <div class="container">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('page_home', {city_url: currentCity().url}) }}" ><span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('client_category_show', {category_url: entity.category.url }) }}"> <span itemprop="name">{{ entity.category.name }}</span></a>
                    <meta itemprop="position" content="2" />
                </li>
                <li>
                    {{ entity.name }}
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="m-t-0 m-b-md">{{ entity.name }}</h1>
                    <p class="head-page-section m-b-0"><span class="text-uppercase">публикации сайта</span> | <span>{{ entity.createdAt | date('d.m.Y') }}</span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div class="row">
        <section class="col-lg-8">
            <article class="post-article" id="post_content">
                <div style="width: 100%;">
                    {#<div>#}
                        {#<div id="ContextTM_ID_1320"></div>#}
                    {#</div>#}
                <div class="post-article-head-img" style="float:left;">
                    <img src="{{ entity.getWebPath() | apply_filter('in_post') }}" alt="{{ entity.imageAlt }}"/>
                </div>
                {% if contents | length > 0 %}
                    <div class="contentsBlock">
                        <span>Содержание:</span>
                        <ol id="contentsGoTo">
                            {% for cont in contents %}
                                <li>{{ cont }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
                </div>
                {% if app.environment == 'prod' %}
                <div style="width: 100%; height: 300px; display: block; margin: 10px 0 10px 0;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- devstrah post 1.1 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-3861532892125732"
                         data-ad-slot="5102332899"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                {% endif %}
                <!--start_content-->
                {{ entity.text|raw }}
                <!--end_content-->
                {% if links | length > 0 %}
                    <span>Похожие публикации:</span>
                    <ul>
                        {% for link in links %}
                            <li>
                                <a href="{{ link.link }}" title="{{ link.key }}">{{ link.key }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if app.environment == 'prod' %}
                <div style="width: 100%; height: auto; text-align: center;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Strah post 1.2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:580px;height:400px"
                         data-ad-client="ca-pub-3861532892125732"
                         data-ad-slot="9639886896"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                {% endif %}
            </article>
        </section>
        <section class="col-lg-3 col-lg-offset-1">
            {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
                'post': entity
            })) }}
        </section>
        <section class="col-lg-9 last-article">
            <hr/>
            <h2 class="text-left m-t-md">Рекомендованные публикации</h2>
            <div class="row list-card-company">
                {% for post in entities %}
                    <div class="col-lg-4">
                        <div class="article-card">
                            <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                                <img src="{{ post.getWebPath() | apply_filter('thumbnail_same_post') }}" alt="{{ post.imageAlt }}">
                            </a>
                            <div class="razdel-name">
                                <a href="{{ path('client_category_show', {category_url: post.category.url }) }}">{{ post.category.name }}</a>
                            </div>
                        <span class="text-normal">
                            <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a>
                        </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if app.environment == 'prod' %}
            <div class="row">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'dvestrahovki';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            </div>
            {% endif %}
        </section>
    </div>
{% endblock %}