{% if mainCategory is not defined %}
    {% set mainCategory = false %}
{% endif %}
{% if currentPost is not defined %}
    {% set currentPost = false %}
{% endif %}
{% if currentCompany is not defined %}
    {% set currentCompany = false %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}DveStrahovki.ru{% endblock %}</title>
    <meta name="description" content="{% block description %}DveStrahovki.ru{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}DveStrahovki.ru{% endblock %}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">

    {% block meta %}{% endblock %}

    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmemain/new/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmemain/new/css/style.css') }}"/>

    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="{{ asset('bundles/acmemain/new/js/jquery-1.10.1.min.js') }}"></script>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/acmemain/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/acmemain/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/acmemain/images/apple-touch-icon-114x114.png') }}">
</head>
<body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-11535685-15', 'auto');
        ga('send', 'pageview');
    </script>

    {{ render(controller('AcmeMainBundle:PageLayout:navigateNew', {
        'main': mainCategory,
        'route_name':  app.request.get('_route'),
        'route_attributes': app.request.attributes.get('_route_params')
    })) }}

    {% block breadcrumbs %}{% endblock %}

    <div class="container clearfix">
        {% block container %}
            <section class="left-container">
                <div class="left-box">
                    {% block main %}{% endblock %}
                </div>
            </section>
            {% block sidebar %}
                <section class="right-container">
                    <div class="map-box">
                        <h4>Все страховые компании</h4>
                        <div class="img-box">
                            <img src="{{ asset('bundles/acmemain/new/img/map.jpg') }}" >
                        </div>
                        <span class="text-muted">Вы всегда можете найти ближайшие страховые компании к вашему дому или офису. Используйте карту, сортировку по району и стоимостью для быстрого перехода к странице компании.</span>
                        <a role="button" href="{{ path('page_catalog', {city_url: currentCity().url}) }}" class="btn btn-danger">Выбрать компанию</a>
                    </div>
                </section>
            {% endblock %}
        {% endblock %}
    </div>

    {{ render(controller('AcmeMainBundle:PageLayout:footerNew', {
        'route_name':  app.request.get('_route')
    })) }}

    {% if app.user is null %}
        <script type="text/javascript" src="{{ asset('bundles/acmemain/js/hello.min.js') }}"></script>
        <script>
            var AUTH = {% if app.user %}true{% else %}false{% endif %},
                CLICK = false;
            hello.init({
                        facebook: 1644608655820943,
                        vk: 5065377
                    },
                {
                    scope: 'email'
                }
            );
            hello.on('auth.login', function(auth) {
                hello(auth.network).api('/me', 'get', {fields:'email,name,id,picture'}).then(function(r) {
                    if (!CLICK) return;
                    var args = {};
                    switch (auth.network) {
                        case 'vk':
                            args.uId = r.uid;
                            args.lastName = r.last_name;
                            args.firstName = r.first_name;
                            args.image = r.picture;
                            args.type = 'vk';
                            args.email = r.email;
                            break;
                        case 'facebook':
                            args.uId = r.id;
                            args.fullName = r.name;
                            args.image = r.picture;
                            args.type = 'fb';
                            args.email = r.email;
                            break;
                    }

                    $.post( "{{ path('_secured_social_registration') }}", args,
                            function( data ) {
                                if (data.success){
                                    AUTH = true;
                                }
                                window.location.reload();
                            });
                });
            });
            function setClickTrue(){
                CLICK = true;
            }
        </script>
    {% endif %}
    {% block javascripts %}{% endblock %}

    <script type="text/javascript" src="{{ asset('bundles/acmemain/new/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acmemain/new/js/funcs.js') }}"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if app.environment == 'prod' %}
        <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet' "+
                "border='0' width='31' height='31'><\/a>")
        //--></script><!--/LiveInternet-->
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter27107978 = new Ya.Metrika({id:27107978,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/27107978" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
</body>
</html>
