<div class="footer">
    <div class="copy">© {{ "now"|date('Y') }}</div>
    <div class="foot-navigation">
        <ul class="foot-menu">
            {% for entity in entities %}
                <li {% if main == entity.url %} class="active" {% endif %}>
                    <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="foot-nav">
            <li><a href="{{ path('page_contact') }}">Контакты</a></li>
            <li><a href="{{ path('page_advertising') }}">Реклама на сайте</a></li>
            <li><a href="{{ path('page_sitemap') }}">Карта сайта</a></li>
            <li><a href="{{ path('page_rule') }}">Правила сайта</a></li>
        </ul>
    </div>
    <!--noindex-->
    <div class="autor">Дизайн сайта – <a class="some_way" href="#" data-url="http://rademade.com" rel="nofollow">rademade</a></div>
    <!--/noindex-->
</div>