<div class="footer-container"><!-- Begin Footer -->
    <div class="container">
        <div class="row footer-row">
            <div class="span3 footer-col">
                <h5>Мы в соц. сетях</h5>
                <img src="{{ asset('bundles/acmemain/images/logoD.png') }}" alt="Logo" /><br /><br />
                {#<address>#}
                    {#<strong>Design Team</strong><br />#}
                    {#123 Main St, Suite 500<br />#}
                    {#New York, NY 12345<br />#}
                {#</address>#}
                <ul class="social-icons">
                    <li><a href="#" class="social-icon facebook"></a></li>
                    <li><a href="#" class="social-icon twitter"></a></li>
                    <li><a href="#" class="social-icon dribble"></a></li>
                    <li><a href="#" class="social-icon rss"></a></li>
                    <li><a href="#" class="social-icon forrst"></a></li>
                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>ТОП компаний</h5>
                <ul>
                    {#<li><a href="#">@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                    {#<li><a href="#">@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices.</li>#}
                    {#<li><a href="#">@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>#}
                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>Рубрики</h5>
                <ul class="post-list">
                    {% for entity in entities %}
                        <li>
                            <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span3 footer-col">
                <h5>Карта картинок</h5>
                <ul class="img-feed">
                    {% for post in posts %}
                        <li>
                            <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                                <img src="{{ post.getWebPath() | apply_filter('thumbnail_footer_post') }}" alt="">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row"><!-- Begin Sub Footer -->
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6">
                        <span class="left">© {{ "now"|date('Y') }} Все права защищены</span>
                    </div>
                    <div class="span6">
                        <span class="right">
                            <a href="{{ path('page_home') }}">Главная</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('page_catalog') }}">Каталог</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('page_contact') }}">Контакты</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('page_advertising') }}">Реклама на сайте</a>
                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('page_sitemap') }}">Карта сайта</a>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- End Sub Footer -->
    </div>
</div><!-- End Footer -->