<div class="span9 navigation">
    <div class="navbar hidden-phone">
        <ul class="nav">
            <li {% if route_name == 'page_home' %} class="active" {% endif %}>
                {% if route_name == 'page_home' %}
                    <span>
                        <i class="icon-home"></i>
                    </span>
                {% else %}
                    <a href="{{ path('page_home', {city_url: currentCity().url}) }}">
                        <i class="icon-home"></i>
                    </a>
                {% endif %}
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown" class="dropdown-toggle">{{ currentCity().name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for city in cityList() %}
                        <li {% if currentCity().id == city.id %} class="active" {% endif %}>
                            {% if currentCity().id == city.id %}
                                <span>{{ city.name }}</span>
                            {% else %}
                                {% set cityPath = path(route_name, route_attributes | merge ({city_url:city.url})) %}
                                {% if route_attributes['city_url'] is not defined or route_name == 'client_company_show' or route_name == 'client_company_show_comments' %}
                                    {% set cityPath = path('page_home', {city_url:city.url}) %}
                                {% endif %}
                                <a href="{{ cityPath }}">{{ city.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li {% if route_name == 'page_catalog' or route_name == 'client_company_show' %} class="active" {% endif %}>
                {% if route_name == 'page_catalog' %}
                    <span>Каталог</span>
                {% else %}
                    <a href="{{ path('page_catalog', {city_url: currentCity().url}) }}">Каталог</a>
                {% endif %}
            </li>
            <li {% if route_name == 'company_rating' %} class="active" {% endif %}>
                {% if route_name == 'company_rating' %}
                    <span>Рейтинг</span>
                {% else %}
                    <a href="{{ path('company_rating', {city_url: currentCity().url}) }}">Рейтинг</a>
                {% endif %}
            </li>
            <li {% if route_name == 'company_comments' %} class="active" {% endif %}>
                {% if route_name == 'company_comments' %}
                    <span>Отзывы</span>
                {% else %}
                    <a href="{{ path('company_comments', {city_url: currentCity().url}) }}">Отзывы</a>
                {% endif %}
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown" class="dropdown-toggle">публикации <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for entity in entities %}
                        <li {% if main == entity.url %} class="active" {% endif %}>
                            {% if main == entity.url and route_name == 'client_category_show' %}
                                <span>{{ entity.name }}</span>
                            {% else %}
                                <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <!--noindex-->
    <!-- Mobile Nav
    ================================================== -->
    <form id="mobile-nav" class="visible-phone">
        <div class="mobile-nav-select">
            <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                <option value="">Меню...</option>
                <option value="{{ path('page_home', {city_url: currentCity().url}) }}">Главная</option>
                {% for entity in entities %}
                    <option value="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</option>
                {% endfor %}
                <option value="{{ path('page_catalog', {city_url: currentCity().url}) }}">Каталог</option>
                <option value="{{ path('page_contact', {city_url: currentCity().url}) }}">Контакты</option>
            </select>
        </div>
    </form>
    <!--/noindex-->
</div>