<div class="span7 navigation">
    <div class="navbar hidden-phone">
        <ul class="nav">
            <li {% if route_name == 'page_home' %} class="active" {% endif %}>
                {% if route_name == 'page_home' %}
                    <span>
                        <i class="icon-home"></i>
                    </span>
                {% else %}
                    <a href="{{ path('page_home') }}">
                        <i class="icon-home"></i>
                    </a>
                {% endif %}
            </li>
            <li {% if route_name == 'page_catalog' %} class="active" {% endif %}>
                {% if route_name == 'page_catalog' %}
                    <span>Каталог</span>
                {% else %}
                    <a href="{{ path('page_catalog') }}">Каталог</a>
                {% endif %}
            </li>
            {% for entity in entities %}
            <li {% if main == entity.url %} class="active" {% endif %}>
                {% if main == entity.url %}
                    <span>{{ entity.name }}</span>
                {% else %}
                    <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                {% endif %}
            </li>
            {% endfor %}

        </ul>
    </div>
    <!-- Mobile Nav
    ================================================== -->
    <form id="mobile-nav" class="visible-phone">
        <div class="mobile-nav-select">
            <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                <option value="">Меню...</option>
                <option value="{{ path('page_home') }}">Главная</option>
                {% for entity in entities %}
                    <option value="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</option>
                {% endfor %}
                <option value="{{ path('page_catalog') }}">Каталог</option>
                <option value="{{ path('page_contact') }}">Контакты</option>
            </select>
        </div>
    </form>
</div>