<header class="main-head">
    <div class="container clearfix">
        <div class="logo-box">
            {% if route_name == 'page_home' %}
                <img src="{{ asset('bundles/acmemain/new/img/logo.png') }}" />
            {% else %}
                <a href="{{ path('page_home', {city_url: currentCity().url}) }}" >
                    <img src="{{ asset('bundles/acmemain/new/img/logo.png') }}" />
                </a>
            {% endif %}
        </div>
        <div class="head-container">
            <div class="top-head clearfix">
                <nav>
                    <ul class="main-menu clearfix">
                        <li {% if route_name == 'page_catalog' or route_name == 'client_company_show' %}class="active"{% endif %} >
                            <a href="{{ path('page_catalog', {city_url: currentCity().url}) }}" >КАТАЛОГ</a>
                        </li>
                        <li {% if route_name == 'company_rating' %}class="active"{% endif %} >
                            <a href="{{ path('company_rating', {city_url: currentCity().url}) }}" >РЕЙТИНГ</a>
                        </li>
                        <li {% if route_name == 'company_comments' %}class="active"{% endif %} >
                            <a href="{{ path('company_comments', {city_url: currentCity().url}) }}" >ОТЗЫВ</a>
                        </li>
                        <li class="li-in-menu {% for entity in entities %}{% if main == entity.url %} active {% endif %}{% endfor %}">
                            <a href="#">ПУБЛИКАЦИИ</a>
                            <ul class="dop-menu">
                                {% for entity in entities %}
                                    <li {% if main == entity.url %} class="active" {% endif %}>
                                        <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                                    </li>
                                {% endfor %}
                                {#<li><a href="#">Автострахование</a></li>#}
                            </ul>
                        </li>

                    </ul>
                </nav>
                {% if app.user %}
                    <div class="auth-box">
                        <div class="img-box"><a href="{{ path('user_show', {id: app.user.id}) }}"><img src="{{ app.user.socialPicture }}" width="20" height="20"></a></div>
                        <div class="info-box">
                            <div class="name"><a href="{{ path('user_show', {id: app.user.id}) }}">{{ app.user.getFullName() }}</a></div>
                            <div><a href="{{ path('sonata_user_admin_security_logout') }}">ВЫХОД</a></div>
                        </div>
                    </div>
                {% else %}
                    <div class="enter-box">
                        <span>Login:</span>
                        <ul class="social-list clearfix">
                            <li class="vk"><a href="#" onclick="setClickTrue(); hello('vk').login();"></a></li>
                            <li class="fb"><a href="#" onclick="setClickTrue(); hello('facebook').login();"></a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <span class="mob-menu ico"></span>
            <nav class="">
                <ul class="city-menu clearfix">
                    {% for city in cityList() %}
                        <li {% if currentCity().id == city.id %}class="active"{% endif %} >
                            {% set cityPath = path(route_name, route_attributes | merge ({city_url:city.url})) %}
                            {% if route_attributes['city_url'] is not defined or route_name == 'client_company_show' or route_name == 'client_company_show_comments' %}
                                {% set cityPath = path('page_home', {city_url:city.url}) %}
                            {% endif %}
                            <a href="{{ cityPath }}" >{{ city.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>