<div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
    <!--Search-->
    {#<section>#}
        {#<div class="input-append">#}
            {#<form action="#">#}
                {#<input id="appendedInputButton" size="16" type="text" placeholder="Искать..."/>#}
                {#<button class="btn" type="button"><i class="icon-search"></i></button>#}
            {#</form>#}
        {#</div>#}
    {#</section>#}
    <div class="title-bg">Лучшие страховые</div>
    <ul class="popular-posts">
        {% for company in companies %}
            <li>
                <a href="{{ path('client_company_show', {
                "city_url": company.city.url,
                "company_url": company.url
                }) }}" style="height: 70px; display: block; width: 90px; float:left;">
                    <img src="{{ company.getWebPath() | apply_filter('thumbnail_sidebar_company') }}" alt="{{ company.getImageAltView() }}">
                </a>
                <div class="h6">
                    <a href="{{ path('client_company_show', {
                    "city_url": company.city.url,
                    "company_url": company.url
                    }) }}">{{ company.name }}</a>
                <br/>
                <em style="font-size: 10px;">Рейтинг: {% if company.rating == 0 %}0.00{% else %}{{ company.rating/100 }}{% endif %}</em><br/>
                <em style="font-size: 10px;">Отзывов: <a href="{{ path('client_company_show_comments', {
                    "city_url": company.city.url,
                    "company_url": company.url
                    }) }}">{{ company.comments|length }}</a></em>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="title-bg">Последние публикации</div>
    <ul class="popular-posts">
        {% for post in entities %}
            <li>
                <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                    <img src="{{ post.getWebPath() | apply_filter('thumbnail_sidebar_post') }}" alt="{{ post.imageAlt }}">
                </a>
                <div class="h6">
                    <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a>
                </div>
                {#<em>{{ post.getCreatedAtByFormat('d F / Y') }}</em>#}
            </li>
        {% endfor %}
    </ul>
    <!--Video Widget-->
    <div class="title-bg">Последнее видео</div>
    <iframe src="http://player.vimeo.com/video/108892001" width="370" height="208"></iframe>
</div>