<div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
    <!--Search-->
    <section>
        <div class="input-append">
            <form action="#">
                <input id="appendedInputButton" size="16" type="text" placeholder="Искать..."/>
                <button class="btn" type="button"><i class="icon-search"></i></button>
            </form>
        </div>
    </section>
    <h5 class="title-bg">Последние статьи</h5>
    <ul class="popular-posts">
        {% for post in entities %}
            <li>
                <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">
                    <img src="{{ post.getWebPath() | apply_filter('thumbnail_sidebar_post') }}" alt="">
                </a>
                <h6>
                    <a href="{{ path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) }}">{{ post.name }}</a>
                </h6>
                <em>{{ post.getCreatedAtByFormat('d F / Y') }}</em>
            </li>
        {% endfor %}
    </ul>
    <!--Video Widget-->
    <h5 class="title-bg">Последнее видео</h5>
    <iframe src="http://player.vimeo.com/video/108892001" width="370" height="208"></iframe>
</div>