{% extends '::base_new.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid head-page">
        <div class="container">
            <h1>{{ user.getFullName() }}</h1>
            <small>{% if canEditing %}<a href="{{ path('user_edit', {id: user.id}) }}">Редактировать профиль</a>{% endif %}</small>
            <span class="text-muted">Профайл пользователя:</span>
            <span class="text-muted">Написал(а) {{  user.comments | length }} отзывов о страховых компаниях.</span>
            <span class="text-muted">На сайте с - {{  user.createdAt | date('d.m.Y') }}</span>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="user_page review-list">
        {% for comment in user.comments %}
            {% set companyUrl = path('client_company_show', {
            "city_url": comment.company.city.url,
            "company_url": comment.company.url
            }) %}
            {% set companyCommentsUrl = path('client_company_show_comments', {
            "city_url": comment.company.city.url,
            "company_url": comment.company.url
            }) %}
            <article class="one-review clearfix">
                <div class="img-box img-circle">
                    <a href="{{ companyCommentsUrl }}">
                        <img src="{{ comment.user.socialPicture }}" alt="{{ comment.user.getFullName() }} аватарка" width="56" height="56" />
                    </a>
                </div>
                <div class="body-review">
                    <header>
                        <a href="{{ path('user_show', {id: comment.user.id}) }}">{{ comment.user.getFullName() }}</a> оставил(а)
                        <a href="{{ companyCommentsUrl }}#comment{{ comment.id }}" class="dark">отзыв</a> о
                        <a href="{{ companyUrl }}" class="red">{{ comment.company.name }}</a> в {{ comment.createdAt | date('H:i, d.m.Y') }}
                    </header>
                    <p>{{ comment.text | raw }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
