{% extends '::base_new.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block description %}{{ entity.description }}{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid head-page">
        <div class="container">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('page_home', {city_url: currentCity().url}) }}" ><span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li>
                    {{ entity.name }}
                </li>
            </ol>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="m-t-0 m-b-md">{{ entity.name }}</h1>
                    <p class="head-page-section m-b-0"><span class="text-uppercase">публикаций в категории {{ entities | length }}</span></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
    <h2 class="text-center">Последние публикации</h2>
    <div class="row list-card-company">
        {% set i = 0 %}
        {% for post in entities %}
            {% if i == 0 %}
                <div class="row">
            {% endif %}

            {% set url = path('client_post_show',{'category_url':post.category.url, 'post_url':post.url }) %}
            {% set categoryUrl = path('client_category_show',{'category_url':post.category.url }) %}
            <div class="col-md-3">
                <div class="article-card">
                    <a href="{{ url }}">
                        <img src="{{ post.getWebPath() | apply_filter('thumbnail_index_post') }}" alt="{{ post.imageAlt }}" width="220" />
                    </a>
                    <div class="razdel-name">
                        <a href="{{ categoryUrl }}">{{ post.category.name }}</a>
                    </div>
                    <h4>
                        <a href="{{ url }}">{{ post.name }}</a>
                    </h4>
                </div>
            </div>
            {% set i = i+1 %}
            {% if i == 4 or loop.last %}
                {% set i = 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        {{ entity.text|raw }}
    </div>
{% endblock %}