{% extends '::base.html.twig' %}

{% block title %}Каталог компаний DveStrahovki.ru{% endblock %}
{% block description %}Доступная информация о компаниях на сайте{% endblock %}

{% block body %}
    <div class="row gallery-row">
        <div class="span8">
            <div class="row clearfix no-margin">
                <div class="span12">
                    <div class="navbar hidden-phone">
                        <ul class="nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('page_catalog') }}">Все страны <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for con in countries %}
                                        <li>
                                            <a href="{{ path('page_catalog', {"country":con.url}) }}">{{ con.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('page_catalog') }}">Все города <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for city in cities %}
                                        <li>
                                            <a href="{{ path('page_catalog', {"country":city.country.url, 'city':city.url}) }}">{{ city.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix no-margin">
                <ul class="gallery-post-grid holder">
                    {% for company in companies %}
                        <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                            <a href="{{ path('client_company_show', {
                                "country_url": company.city.country.url,
                                "city_url": company.city.url,
                                "company_url": company.url
                            }) }}" rel="nofollow">
                                <img src="{{ company.getWebPath() | apply_filter('thumbnail_catalog_company') }}" alt="{{ company.name }}" width="270px">
                            </a>
                            <span class="project-details">
                                <a href="{{ path('client_company_show', {
                                "country_url": company.city.country.url,
                                "city_url": company.city.url,
                                "company_url": company.url
                                }) }}">{{ company.name }}</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Blog Sidebar
        ================================================== -->
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': false
        })) }}
        <!-- End sidebar column -->
    </div>
{% endblock %}