{% extends '::base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block body %}
    <div class="row gallery-row catalog">
        <div class="span1"></div>
        <div class="span10">
            {#<div class="row clearfix">#}
                {#<div class="span12">#}
                    {#<div class="h3">Виды услуг:</div>#}
                    {#<div>#}
                        {#<ul>#}
                            {#<li>asdasd</li>#}
                            {#<li>asdasd</li>#}
                            {#<li>asdasd</li>#}
                            {#<li>asdasd</li>#}
                            {#<li>asdasd</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="row clearfix">
                <div id="map"></div>
            </div>
            <div class="row clearfix">
                {% for company in companies %}
                <div class="row">
                    <div class="span4">
                        <a href="{{ path('client_company_show', {
                        "city_url": company.city.url,
                        "company_url": company.url
                        }) }}" rel="nofollow">
                            <div class="block_logo">
                                <img src="{{ company.getWebPath() | apply_filter('thumbnail_catalog_company') }}" alt="{{ company.getImageAltView() }}">
                            </div>
                        </a>
                    </div>
                    <div class="span6">
                        <div class="h5"><a href="{{ path('client_company_show', {
                            "city_url": company.city.url,
                            "company_url": company.url
                            }) }}">{{ company.name }}</a></div>
                        <blockquote>
                            <small><strong>Отзывов: <a href="{{ path('client_company_show_comments', {
                                    "city_url": company.city.url,
                                    "company_url": company.url
                                    }) }}">{{ company.comments|length }}</a></strong></small>
                            <small><strong>Рейтинг: {% if company.rating == 0 %}0.00{% else %}{{ company.rating/100 }}{% endif %}</strong></small>
                        </blockquote>
                    </div>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
        <div class="span1"></div>
    </div>
{% endblock %}

{% block stylesheets_after %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.ie.css" /><![endif]-->
    <style>
        #map { height: 280px; }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="http://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script>
        var map = L.map('map').setView([{{ city.lat }}, {{ city.lng }}], 12);
        L.tileLayer('https://{s}.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            maxZoom: 21,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'kokcito13.cied2t8vh001ytsm60v7w5q8m',
            accessToken: 'pk.eyJ1Ijoia29rY2l0bzEzIiwiYSI6ImVjZmRjMzRhNWY5MGZjYTMyYzNiZmJkYjUyZTE1ZTg5In0.--vP7JCFV3dK3kLipXkXWg'
        }).addTo(map);

        var markers = new L.MarkerClusterGroup();
        {% for company in companies %}
            {% for point in company.points %}
                var marker = L.marker([{{ point.lat }}, {{ point.lng }}]);
                    marker
                        .bindPopup("<a href=\"{{ path('client_company_show', {
                            "city_url": company.city.url,
                            "company_url": company.url
                            }) }}\">{{ company.name }}</a><br />{{ point.address }}").openPopup();
                markers.addLayer(marker);
            {% endfor %}
        {% endfor %}
        map.addLayer(markers);
    </script>
{% endblock %}