{% extends '::base_new.html.twig' %}

{% block title %}Страховые компании в {{ currentCity() }} с полной иформацией об отделениях.{% endblock %}
{% block description %}Список страховых компаний {{ currentCity() }} с адресами и телефонами и другой доступной информацией, а такжи рейтинги и отзывы.{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% set menu = 'catalogue' %}

{% block headPage %}
    <div class="container-fluid head-page">
        <div class="container">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ path('homepage', {city: currentCity().slug}) }}" ><span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li>
                    Страховые компании в {{ currentCity().locative }}
                </li>
            </ol>
            <h1>Список страховых компаний {{ currentCity().dative }}</h1>
            <span class="text-muted">Отделений в {{ currentCity().locative }} {{ companies|length }}.</span>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% for company in companies %}
        <div class="col-md-3">
            <div class="company-card">
                <div class="va-container">
                    <div class="va-middle">
                        <a href="{{ path('client_company_show', { city_url: entity.url, company_url: company.url }) }}">
                            <img {% if company.imageName is not null %}src="{{ asset('/uploads/images/companies/'~company.imageName) }}"{% endif %} width="110" height="60">
                        </a>
                    </div>
                </div>
                <a href="{{ path('client_company_show', { city_url: entity.url, company_url: company.url }) }}" class="company-info">
                    <div class="company-info-box">
                        <h3>{{ company.name }}</h3>
                        <div class="info-box clearfix">
                            <span class="c-review">{{ company.getComments()|length }}</span>
                            <span class="c-star">{% if company.rating == 0 %}0.00{% else %}{{ company.rating/100 }}{% endif %}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% else %}
        <div class="well">Компаний нет</div>
    {% endfor %}
{% endblock %}