{% extends '::base.html.twig' %}

{% block title %}Отзывы о страховых компаниях в {{ city.name }}: обсуждения и мнения пользователей{% endblock %}
{% block description %}Ищете отзывы о страховых компаниях в {{ city.name }}? У нас 1000 отзывов о страховых компаниях в вашем городе.{% endblock %}
{% block keywords %}отзывы страховые компании город {{ city.name }} комментарии полестители{% endblock %}

{% block body %}
    <div class="row gallery-row rating">
        <div class="span12">
            <section class="comments">
                <ul>
                    {% for comment in comments %}
                        {% set companyUrl = path('client_company_show', {
                                "country_url": comment.company.city.country.url,
                                "city_url": comment.company.city.url,
                                "company_url": comment.company.url
                                }) %}
                        {% set companyCommentsUrl = path('client_company_show_comments', {
                                "country_url": comment.company.city.country.url,
                                "city_url": comment.company.city.url,
                                "company_url": comment.company.url
                                }) %}
                        <li>
                            {#<img src="img/user-avatar.jpg" alt="Image">#}
                            <span class="comment-name">{{ comment.name }}</span>
                            <span class="comment-date">оставил <a href="{{ companyCommentsUrl }}">отзыв</a> о <a href="{{ companyUrl }}">{{ comment.company.name }}</a> в {{ comment.createdAt | date('H:i, d.m.Y') }}</span>
                            <br/>
                            <div class="comment-content">{{ comment.text | raw }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}