{% extends '::base.html.twig' %}

{% block title %}Отзывы о страховых компаниях в {{ city.name }}: обсуждения и мнения пользователей{% endblock %}
{% block description %}Ищете отзывы о страховых компаниях в {{ city.name }}? У нас 1000 отзывов о страховых компаниях в вашем городе.{% endblock %}
{% block keywords %}отзывы страховые компании город {{ city.name }} комментарии полестители{% endblock %}

{% block body %}
    <div class="row gallery-row rating">
        <div class="span12">
            {% for company in companies %}
                {% set companyUrl = path('client_company_show', {
                "country_url": company.city.country.url,
                "city_url": company.city.url,
                "company_url": company.url
                }) %}
                {% set companyCommentsUrl = path('client_company_show_comments', {
                "country_url": company.city.country.url,
                "city_url": company.city.url,
                "company_url": company.url
                }) %}
                <div class="item">
                    <span class="number">{{ loop.index }}</span>
                    <div class="school-img-container">
                        <a href="{{ companyUrl }}">
                            <img src="{{ company.getWebPath() | apply_filter('thumbnail_company_rating') }}" alt="{{ company.getImageAltView() }}" width="54" height="38">
                        </a>
                    </div>
                    <a href="{{ companyUrl }}" class="school-rate-link">{{ company.name }}</a><div class="shortcuts rating-shortcuts"><span class="rating-shortcut">
                            <i class="ico"></i>
                            <span>{% if company.rating == 0 %}0.00{% else %}{{ company.rating/100 }}{% endif %}</span>
                        </span><a class="comments-shortcut" href="{{ companyCommentsUrl }}">
                            <i class="ico"></i>
                            <span>{{ company.comments|length }}</span>
                        </a></div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}