{% extends '::base_new.html.twig' %}

{% block title %}Страховые компании в {{ currentCity().name }} на DveStrahovki. Все виды услуг страховых компаний в {{ currentCity().name }}. Отзывы и стоимость, услуги, подробная информация о компаниях.{% endblock %}
{% block description %}DveStrahovki – портал о страховке. Все страховые компании {{ currentCity().name }}. Отзывы, услуги, новости и события.{% endblock %}

{% block meta %}
    <meta name='yandex-verification' content='701c161c095f9a74' />
    <meta name="google-site-verification" content="vBnA1AXjmHnpGFFpV8kJWL9PSL0SLtnhVUxGIlECIQE" />
{% endblock %}
{% block javascripts %}{% endblock %}

{% block container %}
    {{ include('AcmeMainBundle:Page:_index_companies.html.twig') }}
    {{ include('AcmeMainBundle:Page:_index_posts.html.twig') }}

    <div class="container clearfix">
        <div class="row">
            <div class="col-md-9">
                <h4 class="head-text"><strong>Новые отзывы</strong> о страховых компаниях в {{ currentCity().dative }}</h4>
                <div class="review-list">
                    {% for comment in comments %}
                        {{ include('AcmeMainBundle:Company/blocks:_comment.html.twig') }}
                    {% endfor %}
                </div>
                <div class="btn-block view-all-review">
                    <a href="{{ path('company_comments', {city_url: currentCity().url}) }}" class="btn btn-danger">Посмотреть все отзывы</a>
                    <span class="text-muted">{{ commentsCount }} отзывов о компаниях на сайте Две страховки</span>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="head-text"><strong>Рейтинг</strong> страховых компаний</h4>
                <div class="company-list crop-info">
                    {% for company in companies %}
                        <article class="one-company clearfix">
                            <div class="name-company">
                                <a href="{{ path('client_company_show', {
                                    "city_url": company.city.url,
                                    "company_url": company.url
                                }) }}">{{ company.name }}</a>
                            </div>
                            <div class="info-box clearfix">
                                <span class="c-star">{% if company.rating == 0 %}0.00{% else %}{{ company.rating/100 }}{% endif %}</span>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}