{% extends '::base_new.html.twig' %}

{% block title %}Рейтинг страховых компаний в {{ city.dative }} на DveStrahovki{% endblock %}
{% block description %}Представляем рейтинг страховых компаний от DveStrahovki в {{ city.dative }} на основе отзывов реальных посетителей сайта и активности страховых компаний.{% endblock %}
{% block keywords %}рейтинг страховые компании город {{ city.name }} отзывы полестители{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid head-page">
        <div class="container">
            <h1>Рейтинг страховых компаниях в {{ currentCity().dative }}</h1>
            {#<span class="text-muted">Более {{ comments | length }} отзывов о страховых компаниях, оценки качества предоставления услух, мнения клиентов, советы и рекомендации, которые помогут вам определиться с выбором.</span>#}
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="company-list">
        {% for company in companies %}
            {% set companyUrl = path('client_company_show', {
            "city_url": company.city.url,
            "company_url": company.url
            }) %}
            {% set companyCommentsUrl = path('client_company_show_comments', {
            "city_url": company.city.url,
            "company_url": company.url
            }) %}
            <article class="one-company clearfix">
                <span class="numb-list">{{ loop.index }}</span>
                <div class="img-box">
                    <a href="{{ companyUrl }}">
                        <img src="{{ company.getWebPath() | apply_filter('thumbnail_company_rating') }}"  alt="{{ company.getImageAltView() }}" width="54"/>
                    </a>
                </div>
                <div class="name-company">
                    <a href="{{ companyUrl }}">{{ company.name }}</a>
                </div>
                <div class="info-box clearfix">
                    <span class="c-review">{{ company.comments|length }}</span>
                    <span class="c-star">{% if company.rating == 0 %}0.00{% else %}{{ company.rating/100 }}{% endif %}</span>
                </div>
            </article>
        {% endfor %}
    </div>
    {#<nav>#}
        {#<ul class="pagination clearfix">#}
            {#<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
            {#<li><a href="#">2</a></li>#}
            {#<li><a href="#">3</a></li>#}
            {#<li><a href="#">4</a></li>#}
            {#<li><a href="#">5</a></li>#}
            {#<li><span>...</span></li>#}
            {#<li><a href="#">15</a></li>#}
        {#</ul>#}
    {#</nav>#}
{% endblock %}