{% extends '::base_new.html.twig' %}

{% block title %}Полный список публикаций на сайте DveStrahovki.ru{% endblock %}
{% block description %}Ваш путиводитель по сайту DveStrahovki.ru{% endblock %}

{% block main %}
    <div class="row">
        <!-- Blog Posts
        ================================================== -->
        <div class="span8 blog">
            <h1>Карта сайта</h1>
            <ul class="post-category-list" style="list-style-type: none;">
                {% for entity in categories %}
                <li>
                    <i class="icon-plus-sign"></i>
                    <a href="{{ path('client_category_show',{ 'category_url': entity.url }) }}">{{ entity.name }}</a>
                    <ul>
                        {% for post in entity.getPosts %}
                            <li>
                                <a href="{{ path('client_post_show',{'category_url':entity.url, 'post_url':post.url }) }}">{#<i class="icon-plus-sign"></i>#}{{ post.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}

                <li>
                    <a href="{{ path('page_catalog') }}"><i class="icon-plus-sign"></i>Каталог</a>
                    {% for country in countries %}
                            <ul class="post-category-list" style="list-style-type: none;">
                                {% for city in country.cities %}
                                    <li>
                                        <a href="{{ path('page_catalog', {city_url:city.url}) }}"><i class="icon-asterisk"></i>{{ city.name }}</a> -
                                        <a href="{{ path('company_rating', {city_url:city.url}) }}">Рейтинг</a> и
                                        <a href="{{ path('company_comments', {city_url:city.url}) }}">Отзывы</a>
                                        <ul>
                                            {% for company in city.companies %}
                                                <li>
                                                    <a href="{{ path('client_company_show', {
                                                    "city_url": city.url,
                                                    "company_url": company.url
                                                    }) }}">{{ company.name }}</a> - <a href="{{ path('client_company_show_comments', {
                                                    "city_url": city.url,
                                                    "company_url": company.url
                                                    }) }}">Отзывы</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                    {% endfor %}
                </li>
            </ul>
            {#
            <!-- Pagination -->
            <div class="pagination">
                <ul>
                    <li class="active"><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            #}
        </div>
        <!-- Blog Sidebar
        ================================================== -->
        {{ render(controller('AcmeMainBundle:PageLayout:rightSidebar', {
        'post': false
        })) }}
        <!-- End sidebar column -->
    </div>
{% endblock %}